<!DOCTYPE html>
<html lang="en">
<head>
  <title>analyze360</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='senti.png') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="{{ url_for('static', filename='pace-theme-center-circle1.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='featuresforabout.css') }}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='pace.js') }}"></script>
</head>

<body id="myPage">
  
<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>                        
       </button>
       <a class="navbar-brand" href="{{ url_for('index') }}">analyze360</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="{{ url_for('get_analyze') }}">ANALYZE</a></li>
         <li><a href="{{ url_for('about') }}">ABOUT</a></li>
       </ul>
     </div>
   </div>
 </nav>

<br><br><br>
<div class="container">
    <br>
<br>
    <div id="r" class="row">
        <h1>About the website...</h1>
            <p id="s">
                Twitter is a powerful medium when it comes to the expression of people's opinions/emotions and so is a great source for sentiment analysis.
                analyze360 is based on the very above aspect. <b>It empowers users to search for a topic and see how the globe feels about it.</b>
                So, go ahead, search for some topic and analyze people's feelings. 
                
                
            </p> 
    </div>
    </div>
 <br>
<footer class="container-fluid footer">
 <p>&#169; 2017.&nbsp; analyze360. &nbsp;All Rights Reserved. </p>
</footer> 
