<!DOCTYPE html>
<html lang="en">
<head>
  <title>analyze360</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='senti.png') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='pace-theme-center-circle1.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='featuresforanalyze.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="{{ url_for('static', filename='pace.js') }}"></script>
  {{ JSGlue.include() }}
</head>
<body id="myPage">
  

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">analyze360</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('get_analyze') }}">ANALYZE</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
<div class="container-fluid">
  <div class="row">
      <form id="myform">
        <fieldset>
            <div class="form-group" id="f">
                <input id="o" autocomplete="off" autofocus class="form-control" name="query" placeholder="Search for any event" type="text"/>
            </div>
            <div id="h">
            <p>Select a upper limit for the tweets</p>
            </div>
            <div id="slider">
                  <div id="custom-handle" class="ui-slider-handle"></div>
            </div>
            <br>
            <div class="form-group" id="g">
              <button id="n" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
            </div>
        </fieldset>
      </form>
      <div id="t">
            <img id="v" src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png" height="50" width="50" x="30" y="40">
      </div>
  </div>  
    <br><br>
     <div id="c">
      </div>
      <div id="i" class="row">
        <div class="col-sm-12 col-xs-12">
        <br>
          <div id="j">
          <p class="head">OVERALL SENTIMENT LEVEL</p>
          </div>
            <canvas id="tutorial" width="380" height="220">
			      Canvas not available.
	          </canvas>
        </div>
      </div>
      <br><br>
        <div id="k" class="row" >
          <div class="col-sm-12 col-xs-12">
          <div>
          <p class="head">SENTIMENT BREAKDOWN</p>
          </div>
          <div id="p">
          <script src="{{ url_for('static', filename='chartbars.js') }}"></script>
          </div>
          <div id="l">
          </div>
          </div>
        </div>
      <div id="notes" class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="noteg green rounded">
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <div class="notey yellow rounded">
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <div class="noter red rounded">
          </div>
        </div>
      </div>
      <br><br>
      <div id="da" class="row">
        <div class="col-sm-12 col-xs-12">
          <br><br>
          <div id="ds">
            <p class="head">PAST DAYS' ANALYSIS</p>
          </div>
          <div id="dd">
            <script src="{{ url_for('static', filename='chartgraph.js') }}"></script>
          </div>
        </div>
      </div>
      <div id="x" class="row">
        <div class="col-sm-12 col-xs-12">
        <br>
          <p class="head">MOST RECENT TWEET</p>
          <br><br>
        </div>
      </div>
      <br><br><br>
      <div id="y" class="row">
        <div class="col-sm-12 col-xs-12">
          <br><br>
          <div id="z">
            <p class="head">GEOGRAPHIC DISTRIBUTION</p>
          </div><br>
          <div id="map">
            <script src="{{ url_for('static', filename='maps.js') }}"></script>
          </div>
        </div>
      </div> 
      <div id="footer">
       <p>&#169; 2017.&nbsp; analyze360. &nbsp;All Rights Reserved. </p>
      </div>
  <script src="{{ url_for('static', filename='functionality.js') }}"></script>
    <script src="{{ url_for('static', filename='slider.js') }}"></script>
    <script src="{{ url_for('static', filename='sentimentmeter.js') }}"></script>
</body>
</html>

           
